.team-text {
  font-size: 0;
  margin-bottom: 94px;
}

.teams__description {
  display: inline-block;

  width: 950px;
  font-family: $font-r;
  font-weight: 300;
  margin: 0;
  font-size: 15px;
  color: $grey;
  line-height: 1.6;
}

.team {
  @extend %flex-center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;

  &__card {
    position: relative;
    text-align: center;

    &:hover .team__card-img-wrap {
      -webkit-box-shadow: inset -11px -11px rgba(149, 225, 211, 1);
      box-shadow: inset -11px -11px rgba(149, 225, 211, 1);
    }

    &:hover .team__card-modal {
      opacity: 0.9;
      @include trans-opacity(opacity 0.2s linear);
    }

    &:hover .team__card-socials {
      opacity: 1;
    }
  }

  &__card-img-wrap {
    width: 381px;
    height: 470px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__card-img {
    width: 381px;
    height: 470px;
    position: relative;
    z-index: -2;
  }

  &__card-modal {
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(243, 129, 129)),
      to(rgb(252, 227, 138))
    );
    background-image: -webkit-linear-gradient(
      top,
      rgb(243, 129, 129),
      rgb(252, 227, 138)
    );
    background-image: -o-linear-gradient(
      top,
      rgb(243, 129, 129),
      rgb(252, 227, 138)
    );
    background-image: linear-gradient(
      to bottom,
      rgb(243, 129, 129),
      rgb(252, 227, 138)
    );
    width: 381px;
    height: 470px;
    opacity: 0;
  }

  &__card-socials {
    @extend %flex;
    position: absolute;
    top: 206px;
    left: 68px;
    font-size: 0;
    opacity: 0;
  }

  &__btn {
    @extend %flex;
    @extend %flex-justify-content;
    @extend %flex-align-center;
    width: 56px;
    height: 56px;
    background-color: $yellow;
	
    &:hover {
      background-color: $pink;
      @include trans-bgc(background-color 0.3s linear);
    }

    &:not(:last-child) {
      border-right: 1px solid $pink;
    }
  }

  &__icons {
    fill: $accent;
	
    &:hover {
      fill: $white;
    }
  }

  &__card-title {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__card-description {
    font-family: $font-r;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: $grey;
    margin: 0;
    margin-bottom: 85px;
  }
}